<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">¡Únete a nuestra comunidad!</div>
        <div class="masthead-subheading">Trabaja en compañía de otros profesionales y comparte tu talento</div>

        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
    </div>
</header>


<!--¡Únete a nuestra comunidad!

Comparte tu talento-->