{% extends 'base.html.twig' %}

{% block title %}{{titulo}}{% endblock %}

{% block body %}
<body>
    <div class="container mt-4">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{titulo}}</h2>
        </div>
    </div>

</body>
{% endblock %}
