{% extends 'base.html.twig' %}

{% block title %}{{titulo}}{% endblock %}

{% block body %}
<h1>{{titulo}}</h1>

{% for message in app.session.flashBag.get('msg') %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
    </div>

{% endfor %}
{% endblock %}
